{% extends 'base.html' %}
{% block title %} Изменить пароль {% endblock %}
{% load user_filter %}
{% load static %}
{% block head %}
    {% include 'head.html' with password_change=True %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <div class="custom-center-block">
            <h1 class="custom-text-block">Пароль успешно изменен</h1>
        <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>
{% endblock %}