{% extends "base.html" %}
{% block title %} Foodgram - лучшие рецепты {% endblock title %}
{% load static %}
{% block head %}
    {% include 'includes/head.html' with index=True%}
{% endblock head %}
{% block content %}
    {% csrf_token %}
    {% load recipes_tag_filter %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'tags.html' %}
        </div>
        <div class="card-list">
            {% for i in page %}
                {% include "card_item.html" with recipe=i %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% include "paginator.html" with items=page paginator=paginator %}
        </ul>
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'indexAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'indexNotAuth.js' %}"></script>
    {% endif %}
{% endblock scripts %}
