<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% with url_name=request.resolver_match.url_name %}
            {% if user.is_authenticated %}

            <ul class="nav__items list">
                <li class="nav__item {% if url_name == 'login' %}nav__item_active{% endif %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item {% if url_name == 'reg' %}nav__item_active{% endif %}"><a href="{% url 'reg' %}" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </nav>
</header>