{% load recipes_tag_filter %}
{% load static %}
<div class="card" data-id={{ recipe.id }}>
    {% if recipe.image %}
        <a href="{% url 'recipe_single' recipe.id %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    {% else %}
        <a href="{% url 'recipe_single' recipe.id %}" class="link" target="_blank"><img src="{% static 'images/testCardImg.png' %}" alt="{{ recipe.title }}" class="card__image"></a>
    {% endif %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_single' recipe.id %}" target="_blank"> {{ recipe.title }}</a>
        <ul class="card__items">
            {{ recipe.tags|get_recipe_tag|safe }}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }}</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.username }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if request.user.is_authenticated %}
            {% if recipe|is_shop:user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="single-card__favorite">
                {% if recipe|get_is_favorite:request.user %}
                    <button class="button button_style_none" name="favorites">
                        <span class="icon-favorite icon-favorite_active"></span></button>
                {% else %}
                    <button class="button button_style_none" name="favorites" data-out>
                        <span class="icon-favorite"></span></button>
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>