{% extends "base.html" %}
{% block title %} Избранные рецепты {% endblock title %}
{% load static %}
{% block head %}
    {% include 'head.html' with favorite=True%}
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}

        <div class="main__header">
            <h1 class="main__title">Избранные рецепты</h1>
            {% include 'tags.html' %}
        </div>
        <div class="card-list">
            {% for i in page %}
                {% include "card_item.html" with recipe=i %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% include "paginator.html" with items=page paginator=paginator %}
            </ul>
        {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>

    <script src="{% static 'favorite.js' %}"></script>
{% endblock scripts %}