{% extends "base.html" %}
{% block title %} {{ recipes.author }} {% endblock title %}
{% load static %}
{% block head %}
    {% include 'includes/head.html' with index=True%}
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    {% load user_filter %}
    {% load recipes_tag_filter %}
        <div class="main__header">
            {% if item.author.get_full_name %}
                <h1 class="main__title"> {{ username1.get_full_name }} </h1>
            {% else %}
                <h1 class="main__title"> {{ username1 }} </h1>
            {% endif %}
            {% include 'tags.html' %}
        </div>

        {% if username1 != request.user.username %}
            <div class="author-subscribe" data-author="{{ username1.id }}">
                {% if request.user.is_authenticated %}
                    {% if username1.id|get_is_follow2:request.user.id %}
                        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto" name="subscribe"><span class="icon-check button__icon"></span>Отписаться от автора </button></p>
                    {% else %}
                        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться на автора</button></p>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="card-list">
            {% for i in page %}
                {% include "card_item.html" with recipe=i %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% include "paginator.html" with items=page paginator=paginator %}
            </ul>
        {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>

    <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock scripts %}