{% extends 'base.html' %}
{% block title %} {{ headline }} {% endblock %}
{% csrf_token %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% load addclass %}
{% block content %}

    <div class="main__header">
        <h1 class="main__title">{{ headline }}</h1>
    </div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="{{ form.name.id_for_label }}" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                {{ form.name|addclass:"form__input" }}
                {% if form.errors %}
                    {% for error in form.name.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </form>


{% load static %}

<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}