{% extends "base.html" %}
{% block title %} Список покупок {% endblock title %}
{% load static %}
{% block head %}
    {% include 'includes/head.html' with shopping_list=True %}
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}

        <div class="main__header">
            <h1 class="main__title">Список покупок</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
            {% if shop_list_count > 0 %}
                {% for item in shop_list %}
                    <li class="shopping-list__item" data-id="{{ item.id }}">
                        <div class="recipe recipe_reverse">
                            <img src="{{ item.image.url }}" alt={{ item.title }} class="recipe__image recipe__image_big">
                            <h3 class="recipe__title">{{ item.title}}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ item.time }}</p>
                        </div>
                        <a href="#" class="shopping-list__button link">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
                <a href="{% url 'download_wishlist' %}"><button class="button button_style_blue">Скачать список</button></a>
            {% else %}
                {% if request.user.is_authenticated %}
                    <h2 class="custom-text-block">Добавьте рецепты в свой список для того, чтобы можно было скачать список ингредиентов для покупки</h2>
                    <div class="custom-button-block">
                        <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
                    </div>
                {% else %}
                    <h2 class="custom-text-block">Зарегестрируйтесь, чтобы добавлять рецепты в список покупок</h2>
                {% endif %}
            {% endif %}
        </div>


{% endblock %}
{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock scripts %}