{% extends "base.html" %}
{% block title %} Создание рецепта {% endblock %}
{% load static %}
{% block head %}
    {% include 'head.html' with new_recipe=True%}
{% endblock %}
{% load static %}
{% block content %}
{% load user_filter %}



{% endblock %}
{% block scripts %}
<script src="./js/components/Purchases.js"></script>
<script src="./js/components/Favorites.js"></script>
<script src="./js/components/Subscribe.js"></script>



<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js"></script>
<script src="{% static 'js/components/SingleCard.js"></script>

<script src="{% static 'js/components/Purchases.js"></script>
<script src="{% static 'js/components/Favorites.js"></script>
<script src="{% static 'js/components/Subscribe.js"></script>


<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
<script src="{% static 'singlePage.js' %}"></script>

{% endblock %}
