{% extends "base.html" %}
{% block title %} {{ recipe.title }} {% endblock %}
{% load static %}
{% block head %}
    {% include 'head.html' with index=True%}
{% endblock %}
{% block static %}
    <link rel="stylesheet" href={% static 'pages/single.css' %}>
{% endblock %}
{% block content %}

    {% csrf_token %}
    {% load user_filter %}
    {% load recipes_tag_filter %}
        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{recipe.author.id}}">
        <!--    {% if recipe.image %} -->
                <img src="{% get_media_prefix %}{{ recipe.image }}" alt={{ recipe.title }} class="single-card__image">
        <!--        <img src="{{ recipe.image.url }}" alt="Какой-то текст" class="single-card__image">
           <img src="{{ recipe.image.url }}" alt="какой-то текст" class="single-card__image">
       --> <!--    {% else %}
               <img src="{% static 'images/testCardImg.png' %}" alt={{ recipe.title }} class="single-card__image">
           {% endif%} -->
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                        <div class="single-card__favorite">
                        {% if request.user.is_authenticated %}
                            {% if recipe|get_is_favorite:request.user %}
                               <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                            <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                            {% else %}
                                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                            <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <ul class="single-card__items">
                    {{ recipe.tags|get_recipe_tag|safe }}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{ recipe.time }}</p>
                    <ul class="single-card__items">
                        <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span>
                            {{ recipe.author.username }}</p></li>
                        {% if request.user == recipe.author %}
                        <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="single-card__items">
                    {% if request.user.is_authenticated %}
                        {% if recipe|is_shop:user %}
                             <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
                        {% else %}
                            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                        {% endif %}
                    {% endif %}
                        <!--    <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></li>
        -->            {% if request.user.is_authenticated %}
                        {% if request.user != recipe.author %}
                            {% if recipe|get_is_follow:request.user %}
                                <li class="single-card__item"><button class="button button_style_light-blue button_size_auto" name="subscribe"><span class="icon-check button__icon"></span> Отписаться от автора </button>
                            {% else %}
                                <li class="single-card__item"><button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться на автора</button></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингридиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ing in ingredients %}
                            <p class=" single-card__section-item">{{ing.ingredient.title}} - {{ ing.amount }} {{ing.ingredient.dimension}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    {{ recipe.description|get_description_new_lines|safe }}
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'singlePage.js' %}"></script>
    {% else %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'singlePageNotAuth.js' %}"></script>
    {% endif %}

{% endblock %}